body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1.2px #404040 solid;
  margin: 1.5rem;
}

.product img {
  width: 100%;
  max-width: 380px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.btn-addcar {
  background-color: blue;
}

